# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from math import sqrt

# Loading Data and Review Data

In [2]:
df=pd.read_csv(r'''C:\Users\Adesiji\Documents\University Materials\Data Science\DSN Kaggle Competition\train.csv''',index_col=False)

In [3]:
df.shape

(4990, 13)

In [4]:
df.head(5)

,Product_Identifier,Supermarket_Identifier,Product_Supermarket_Identifier,Product_Weight,Product_Fat_Content,Product_Shelf_Visibility,Product_Type,Product_Price,Supermarket_Opening_Year,Supermarket _Size,Supermarket_Location_Type,Supermarket_Type,Product_Supermarket_Sales
0,DRA12,CHUKWUDI010,DRA12_CHUKWUDI010,11.6,Low Fat,0.068535,Soft Drinks,357.54,2005,NaN,Cluster 3,Grocery Store,709.08
1,DRA12,CHUKWUDI013,DRA12_CHUKWUDI013,11.6,Low Fat,0.040912,Soft Drinks,355.79,1994,High,Cluster 3,Supermarket Type1,6381.69
2,DRA12,CHUKWUDI017,DRA12_CHUKWUDI017,11.6,Low Fat,0.041178,Soft Drinks,350.79,2014,NaN,Cluster 2,Supermarket Type1,6381.69
3,DRA12,CHUKWUDI018,DRA12_CHUKWUDI018,11.6,Low Fat,0.041113,Soft Drinks,355.04,2016,Medium,Cluster 3,Supermarket Type2,2127.23
4,DRA12,CHUKWUDI035,DRA12_CHUKWUDI035,11.6,Ultra Low fat,0.000000,Soft Drinks,354.79,2011,Small,Cluster 2,Supermarket Type1,2481.77

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4990 entries, 0 to 4989
Data columns (total 13 columns):
Product_Identifier                4990 non-null object
Supermarket_Identifier            4990 non-null object
Product_Supermarket_Identifier    4990 non-null object
Product_Weight                    4188 non-null float64
Product_Fat_Content               4990 non-null object
Product_Shelf_Visibility          4990 non-null float64
Product_Type                      4990 non-null object
Product_Price                     4990 non-null float64
Supermarket_Opening_Year          4990 non-null int64
Supermarket _Size                 3540 non-null object
Supermarket_Location_Type         4990 non-null object
Supermarket_Type                  4990 non-null object
Product_Supermarket_Sales         4990 non-null float64
dtypes: float64(4), int64(1), object(8)
memory usage: 506.9+ KB

In [6]:
df.rename(columns={'Supermarket _Size':'Supermarket_Size'}, inplace=True)

## Filling Missing Values

In [7]:
cols = ["Supermarket_Size"]
df[cols]=df[cols].fillna(df.mode().iloc[0])

In [8]:
cols = ["Product_Weight"]
df[cols]=df[cols].fillna(df.mean().iloc[0])

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4990 entries, 0 to 4989
Data columns (total 13 columns):
Product_Identifier                4990 non-null object
Supermarket_Identifier            4990 non-null object
Product_Supermarket_Identifier    4990 non-null object
Product_Weight                    4990 non-null float64
Product_Fat_Content               4990 non-null object
Product_Shelf_Visibility          4990 non-null float64
Product_Type                      4990 non-null object
Product_Price                     4990 non-null float64
Supermarket_Opening_Year          4990 non-null int64
Supermarket_Size                  4990 non-null object
Supermarket_Location_Type         4990 non-null object
Supermarket_Type                  4990 non-null object
Product_Supermarket_Sales         4990 non-null float64
dtypes: float64(4), int64(1), object(8)
memory usage: 506.9+ KB

In [10]:
df['Product_Shelf_Visibility'] = df['Product_Shelf_Visibility'].replace(0, np.nan)

In [11]:
df['Product_Shelf_Visibility']=df['Product_Shelf_Visibility'].fillna(df.groupby('Supermarket_Size')['Product_Shelf_Visibility'].transform('mean'))

In [12]:
df.head(20)

,Product_Identifier,Supermarket_Identifier,Product_Supermarket_Identifier,Product_Weight,Product_Fat_Content,Product_Shelf_Visibility,Product_Type,Product_Price,Supermarket_Opening_Year,Supermarket_Size,Supermarket_Location_Type,Supermarket_Type,Product_Supermarket_Sales
0,DRA12,CHUKWUDI010,DRA12_CHUKWUDI010,11.600000,Low Fat,0.068535,Soft Drinks,357.54,2005,Medium,Cluster 3,Grocery Store,709.08
1,DRA12,CHUKWUDI013,DRA12_CHUKWUDI013,11.600000,Low Fat,0.040912,Soft Drinks,355.79,1994,High,Cluster 3,Supermarket Type1,6381.69
2,DRA12,CHUKWUDI017,DRA12_CHUKWUDI017,11.600000,Low Fat,0.041178,Soft Drinks,350.79,2014,Medium,Cluster 2,Supermarket Type1,6381.69
3,DRA12,CHUKWUDI018,DRA12_CHUKWUDI018,11.600000,Low Fat,0.041113,Soft Drinks,355.04,2016,Medium,Cluster 3,Supermarket Type2,2127.23
4,DRA12,CHUKWUDI035,DRA12_CHUKWUDI035,11.600000,Ultra Low fat,0.077365,Soft Drinks,354.79,2011,Small,Cluster 2,Supermarket Type1,2481.77
5,DRA12,CHUKWUDI045,DRA12_CHUKWUDI045,11.600000,Low Fat,0.069976,Soft Drinks,354.04,2009,Medium,Cluster 2,Supermarket Type1,9572.54
6,DRA24,CHUKWUDI010,DRA24_CHUKWUDI010,19.350000,Normal Fat,0.066832,Soft Drinks,409.72,2005,Medium,Cluster 3,Grocery Store,818.93
7,DRA24,CHUKWUDI013,DRA24_CHUKWUDI013,19.350000,Normal Fat,0.039895,Soft Drinks,406.22,1994,High,Cluster 3,Supermarket Type1,11055.61
8,DRA24,CHUKWUDI017,DRA24_CHUKWUDI017,19.350000,Normal Fat,0.040154,Soft Drinks,411.72,2014,Medium,Cluster 2,Supermarket Type1,2866.27
9,DRA24,CHUKWUDI019,DRA24_CHUKWUDI019,12.908838,Normal Fat,0.069909,Soft Drinks,408.22,1992,Small,Cluster 1,Grocery Store,1228.40
10,DRA24,CHUKWUDI027,DRA24_CHUKWUDI027,12.908838,Normal Fat,0.039735,Soft Drinks,414.47,1992,Medium,Cluster 3,Supermarket Type3,12284.01
11,DRA24,CHUKWUDI035,DRA24_CHUKWUDI035,19.350000,Normal Fat,0.039921,Soft Drinks,408.47,2011,Small,Cluster 2,Supermarket Type1,8598.81
12,DRA24,CHUKWUDI049,DRA24_CHUKWUDI049,19.350000,Normal Fat,0.039990,Soft Drinks,412.72,2006,Medium,Cluster 1,Supermarket Type1,2456.80
13,DRA59,CHUKWUDI017,DRA59_CHUKWUDI017,8.270000,Normal Fat,0.069976,Soft Drinks,458.23,2014,Medium,Cluster 2,Supermarket Type1,6015.50
14,DRA59,CHUKWUDI018,DRA59_CHUKWUDI018,8.270000,Normal Fat,0.128449,Soft Drinks,466.48,2016,Medium,Cluster 3,Supermarket Type2,11105.54
15,DRA59,CHUKWUDI019,DRA59_CHUKWUDI019,12.908838,Normal Fat,0.223985,Soft Drinks,465.73,1992,Small,Cluster 1,Grocery Store,1388.19
16,DRA59,CHUKWUDI027,DRA59_CHUKWUDI027,12.908838,Normal Fat,0.127308,Soft Drinks,466.73,1992,Medium,Cluster 3,Supermarket Type3,17583.78
17,DRA59,CHUKWUDI046,DRA59_CHUKWUDI046,8.270000,Normal Fat,0.127928,Soft Drinks,462.23,2004,Small,Cluster 1,Supermarket Type1,11105.54
18,DRA59,CHUKWUDI049,DRA59_CHUKWUDI049,8.270000,Normal Fat,0.128127,Soft Drinks,459.23,2006,Medium,Cluster 1,Supermarket Type1,3239.12
19,DRB01,CHUKWUDI027,DRB01_CHUKWUDI027,12.908838,Low Fat,0.081841,Soft Drinks,475.13,1992,Medium,Cluster 3,Supermarket Type3,1423.15

In [13]:
df.describe()

,Product_Weight,Product_Shelf_Visibility,Product_Price,Supermarket_Opening_Year,Product_Supermarket_Sales
count,4990.000000,4990.000000,4990.000000,4990.000000,4990.000000
mean,12.908838,0.071175,391.803796,2004.783567,6103.520164
std,4.308671,0.050308,119.378259,8.283151,4447.333835
min,4.555000,0.003575,78.730000,1992.000000,83.230000
25%,9.300000,0.033064,307.890000,1994.000000,2757.660000
50%,12.908838,0.061357,393.860000,2006.000000,5374.675000
75%,16.250000,0.095358,465.067500,2011.000000,8522.240000
max,21.350000,0.328391,667.220000,2016.000000,32717.410000

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4990 entries, 0 to 4989
Data columns (total 13 columns):
Product_Identifier                4990 non-null object
Supermarket_Identifier            4990 non-null object
Product_Supermarket_Identifier    4990 non-null object
Product_Weight                    4990 non-null float64
Product_Fat_Content               4990 non-null object
Product_Shelf_Visibility          4990 non-null float64
Product_Type                      4990 non-null object
Product_Price                     4990 non-null float64
Supermarket_Opening_Year          4990 non-null int64
Supermarket_Size                  4990 non-null object
Supermarket_Location_Type         4990 non-null object
Supermarket_Type                  4990 non-null object
Product_Supermarket_Sales         4990 non-null float64
dtypes: float64(4), int64(1), object(8)
memory usage: 506.9+ KB

In [15]:
print("Original features:\n", list(df.columns), "\n")

Original features:
 ['Product_Identifier', 'Supermarket_Identifier', 'Product_Supermarket_Identifier', 'Product_Weight', 'Product_Fat_Content', 'Product_Shelf_Visibility', 'Product_Type', 'Product_Price', 'Supermarket_Opening_Year', 'Supermarket_Size', 'Supermarket_Location_Type', 'Supermarket_Type', 'Product_Supermarket_Sales']

In [16]:
df_dummies1=pd.get_dummies(df, prefix=['Product_Fat_Content', 'Product_Type','Supermarket_Size', 'Supermarket_Location_Type', 'Supermarket_Type'], columns=['Product_Fat_Content', 'Product_Type','Supermarket_Size', 'Supermarket_Location_Type', 'Supermarket_Type'])

In [17]:
df_dummies1.head(5)

,Product_Identifier,Supermarket_Identifier,Product_Supermarket_Identifier,Product_Weight,Product_Shelf_Visibility,Product_Price,Supermarket_Opening_Year,Product_Supermarket_Sales,Product_Fat_Content_Low Fat,Product_Fat_Content_Normal Fat,...,Supermarket_Size_High,Supermarket_Size_Medium,Supermarket_Size_Small,Supermarket_Location_Type_Cluster 1,Supermarket_Location_Type_Cluster 2,Supermarket_Location_Type_Cluster 3,Supermarket_Type_Grocery Store,Supermarket_Type_Supermarket Type1,Supermarket_Type_Supermarket Type2,Supermarket_Type_Supermarket Type3
0,DRA12,CHUKWUDI010,DRA12_CHUKWUDI010,11.6,0.068535,357.54,2005,709.08,1,0,...,0,1,0,0,0,1,1,0,0,0
1,DRA12,CHUKWUDI013,DRA12_CHUKWUDI013,11.6,0.040912,355.79,1994,6381.69,1,0,...,1,0,0,0,0,1,0,1,0,0
2,DRA12,CHUKWUDI017,DRA12_CHUKWUDI017,11.6,0.041178,350.79,2014,6381.69,1,0,...,0,1,0,0,1,0,0,1,0,0
3,DRA12,CHUKWUDI018,DRA12_CHUKWUDI018,11.6,0.041113,355.04,2016,2127.23,1,0,...,0,1,0,0,0,1,0,0,1,0
4,DRA12,CHUKWUDI035,DRA12_CHUKWUDI035,11.6,0.077365,354.79,2011,2481.77,0,0,...,0,0,1,0,1,0,0,1,0,0

In [18]:
del df_dummies1['Product_Identifier']

In [19]:
df_dummies=df_dummies1.drop(['Product_Supermarket_Identifier'], axis=1)

In [20]:
df_dummies=df_dummies.drop(['Supermarket_Identifier'], axis=1)

In [21]:
df_dummies.head(5)

,Product_Weight,Product_Shelf_Visibility,Product_Price,Supermarket_Opening_Year,Product_Supermarket_Sales,Product_Fat_Content_Low Fat,Product_Fat_Content_Normal Fat,Product_Fat_Content_Ultra Low fat,Product_Type_Baking Goods,Product_Type_Breads,...,Supermarket_Size_High,Supermarket_Size_Medium,Supermarket_Size_Small,Supermarket_Location_Type_Cluster 1,Supermarket_Location_Type_Cluster 2,Supermarket_Location_Type_Cluster 3,Supermarket_Type_Grocery Store,Supermarket_Type_Supermarket Type1,Supermarket_Type_Supermarket Type2,Supermarket_Type_Supermarket Type3
0,11.6,0.068535,357.54,2005,709.08,1,0,0,0,0,...,0,1,0,0,0,1,1,0,0,0
1,11.6,0.040912,355.79,1994,6381.69,1,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0
2,11.6,0.041178,350.79,2014,6381.69,1,0,0,0,0,...,0,1,0,0,1,0,0,1,0,0
3,11.6,0.041113,355.04,2016,2127.23,1,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
4,11.6,0.077365,354.79,2011,2481.77,0,0,1,0,0,...,0,0,1,0,1,0,0,1,0,0

In [22]:
df_dummies.shape

(4990, 34)

In [1]:
df_dummies.isnull().values.any()

NameError: name 'df_dummies' is not defined

## Spiltting Data

In [24]:
from sklearn.model_selection import train_test_split
feature_col_names=['Product_Weight', 'Product_Shelf_Visibility', 'Product_Price', 'Supermarket_Opening_Year', 'Product_Fat_Content_Low Fat', 'Product_Fat_Content_Normal Fat', 'Product_Fat_Content_Ultra Low fat', 'Product_Type_Baking Goods', 'Product_Type_Breads', 'Product_Type_Breakfast', 'Product_Type_Canned', 'Product_Type_Dairy', 'Product_Type_Frozen Foods', 'Product_Type_Fruits and Vegetables', 'Product_Type_Hard Drinks', 'Product_Type_Health and Hygiene', 'Product_Type_Household', 'Product_Type_Meat', 'Product_Type_Others', 'Product_Type_Seafood', 'Product_Type_Snack Foods', 'Product_Type_Soft Drinks', 'Product_Type_Starchy Foods', 'Supermarket_Size_High', 'Supermarket_Size_Medium', 'Supermarket_Size_Small', 'Supermarket_Location_Type_Cluster 1', 'Supermarket_Location_Type_Cluster 2', 'Supermarket_Location_Type_Cluster 3', 'Supermarket_Type_Grocery Store', 'Supermarket_Type_Supermarket Type1', 'Supermarket_Type_Supermarket Type2', 'Supermarket_Type_Supermarket Type3']
predicted_class_names=['Product_Supermarket_Sales']
X=df_dummies[feature_col_names].values
y=df_dummies[predicted_class_names].values 
split_test_size=0.30
X_train, X_test, y_train, y_test= train_test_split(X,y, test_size=split_test_size, random_state=42)

In [25]:
print("{0:0.2f}% in training set".format((len(X_train)/len(df_dummies.index)) * 100))
print("{0:0.2f}% in test set".format((len(X_test)/len(df_dummies.index)) * 100))

70.00% in training set
30.00% in test set

# Train Data

In [81]:
from sklearn.ensemble import GradientBoostingRegressor
gbr=GradientBoostingRegressor(learning_rate=0.089, max_depth=3.6, loss='lad',min_samples_split=500,min_samples_leaf=50, n_estimators=100)
gbr.fit(X_train, y_train.ravel())

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.089, loss='lad', max_depth=3.6,
             max_features=None, max_leaf_nodes=None,
             min_impurity_decrease=0.0, min_impurity_split=None,
             min_samples_leaf=50, min_samples_split=500,
             min_weight_fraction_leaf=0.0, n_estimators=100,
             presort='auto', random_state=None, subsample=1.0, verbose=0,
             warm_start=False)

In [82]:
gbrpred=gbr.predict(X_train)
gbrpred_test=gbr.predict(X_test)

In [83]:
MSE= mean_squared_error(y_train, gbrpred)
MSE_test= mean_squared_error(y_test, gbrpred_test)
print("MSE:", MSE)
print("MSE Test:", MSE_test)
RMSE=sqrt(MSE)
RMSE_test=sqrt(MSE_test)
print("RMSE:", RMSE)
print("RMSE Test:", RMSE_test)

MSE: 8265913.069869639
MSE Test: 8731049.422014201
RMSE: 2875.050098671263
RMSE Test: 2954.834922971874

# Importing Libraries

In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from math import sqrt

# Load and Review Data

In [30]:
df=pd.read_csv(r'''C:\Users\Adesiji\Documents\University Materials\Data Science\DSN Kaggle Competition\test.csv''',index_col=False)

In [31]:
df.shape

(3532, 12)

In [32]:
df.head(5)

,Product_Identifier,Supermarket_Identifier,Product_Supermarket_Identifier,Product_Weight,Product_Fat_Content,Product_Shelf_Visibility,Product_Type,Product_Price,Supermarket_Opening_Year,Supermarket _Size,Supermarket_Location_Type,Supermarket_Type
0,DRA59,CHUKWUDI010,DRA59_CHUKWUDI010,8.270,Normal Fat,0.214125,Soft Drinks,459.98,2005,NaN,Cluster 3,Grocery Store
1,DRA59,CHUKWUDI013,DRA59_CHUKWUDI013,8.270,Normal Fat,0.127821,Soft Drinks,464.98,1994,High,Cluster 3,Supermarket Type1
2,DRB01,CHUKWUDI013,DRB01_CHUKWUDI013,7.390,Low Fat,0.082171,Soft Drinks,477.38,1994,High,Cluster 3,Supermarket Type1
3,DRB13,CHUKWUDI010,DRB13_CHUKWUDI010,6.115,Normal Fat,0.011791,Soft Drinks,472.63,2005,NaN,Cluster 3,Grocery Store
4,DRB13,CHUKWUDI013,DRB13_CHUKWUDI013,6.115,Normal Fat,0.007038,Soft Drinks,473.13,1994,High,Cluster 3,Supermarket Type1

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3532 entries, 0 to 3531
Data columns (total 12 columns):
Product_Identifier                3532 non-null object
Supermarket_Identifier            3532 non-null object
Product_Supermarket_Identifier    3532 non-null object
Product_Weight                    2871 non-null float64
Product_Fat_Content               3532 non-null object
Product_Shelf_Visibility          3532 non-null float64
Product_Type                      3532 non-null object
Product_Price                     3532 non-null float64
Supermarket_Opening_Year          3532 non-null int64
Supermarket _Size                 2573 non-null object
Supermarket_Location_Type         3532 non-null object
Supermarket_Type                  3532 non-null object
dtypes: float64(3), int64(1), object(8)
memory usage: 331.2+ KB

In [34]:
df.rename(columns={'Supermarket _Size':'Supermarket_Size'}, inplace=True)

# Filling Missing Data

In [35]:
cols = ["Supermarket_Size"]
df[cols]=df[cols].fillna(df.mode().iloc[0])

In [36]:
cols = ["Product_Weight"]
df[cols]=df[cols].fillna(df.mean().iloc[0])

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3532 entries, 0 to 3531
Data columns (total 12 columns):
Product_Identifier                3532 non-null object
Supermarket_Identifier            3532 non-null object
Product_Supermarket_Identifier    3532 non-null object
Product_Weight                    3532 non-null float64
Product_Fat_Content               3532 non-null object
Product_Shelf_Visibility          3532 non-null float64
Product_Type                      3532 non-null object
Product_Price                     3532 non-null float64
Supermarket_Opening_Year          3532 non-null int64
Supermarket_Size                  3532 non-null object
Supermarket_Location_Type         3532 non-null object
Supermarket_Type                  3532 non-null object
dtypes: float64(3), int64(1), object(8)
memory usage: 331.2+ KB

In [38]:
df['Product_Shelf_Visibility'] = df['Product_Shelf_Visibility'].replace(0, np.nan)

In [39]:
df['Product_Shelf_Visibility']=df['Product_Shelf_Visibility'].fillna(df.groupby('Supermarket_Size')['Product_Shelf_Visibility'].transform('mean'))

In [40]:
df.head(20)

,Product_Identifier,Supermarket_Identifier,Product_Supermarket_Identifier,Product_Weight,Product_Fat_Content,Product_Shelf_Visibility,Product_Type,Product_Price,Supermarket_Opening_Year,Supermarket_Size,Supermarket_Location_Type,Supermarket_Type
0,DRA59,CHUKWUDI010,DRA59_CHUKWUDI010,8.270000,Normal Fat,0.214125,Soft Drinks,459.98,2005,Medium,Cluster 3,Grocery Store
1,DRA59,CHUKWUDI013,DRA59_CHUKWUDI013,8.270000,Normal Fat,0.127821,Soft Drinks,464.98,1994,High,Cluster 3,Supermarket Type1
2,DRB01,CHUKWUDI013,DRB01_CHUKWUDI013,7.390000,Low Fat,0.082171,Soft Drinks,477.38,1994,High,Cluster 3,Supermarket Type1
3,DRB13,CHUKWUDI010,DRB13_CHUKWUDI010,6.115000,Normal Fat,0.011791,Soft Drinks,472.63,2005,Medium,Cluster 3,Grocery Store
4,DRB13,CHUKWUDI013,DRB13_CHUKWUDI013,6.115000,Normal Fat,0.007038,Soft Drinks,473.13,1994,High,Cluster 3,Supermarket Type1
5,DRB25,CHUKWUDI017,DRB25_CHUKWUDI017,12.300000,Low Fat,0.069853,Soft Drinks,268.73,2014,Medium,Cluster 2,Supermarket Type1
6,DRB25,CHUKWUDI027,DRB25_CHUKWUDI027,12.781665,Low Fat,0.069123,Soft Drinks,265.23,1992,Medium,Cluster 3,Supermarket Type3
7,DRB25,CHUKWUDI035,DRB25_CHUKWUDI035,12.300000,Low Fat,0.069447,Soft Drinks,265.98,2011,Small,Cluster 2,Supermarket Type1
8,DRB48,CHUKWUDI017,DRB48_CHUKWUDI017,16.750000,Normal Fat,0.024994,Soft Drinks,93.71,2014,Medium,Cluster 2,Supermarket Type1
9,DRB48,CHUKWUDI027,DRB48_CHUKWUDI027,12.781665,Normal Fat,0.024733,Soft Drinks,100.71,1992,Medium,Cluster 3,Supermarket Type3
10,DRB48,CHUKWUDI035,DRB48_CHUKWUDI035,16.750000,Normal Fat,0.024849,Soft Drinks,99.96,2011,Small,Cluster 2,Supermarket Type1
11,DRB48,CHUKWUDI046,DRB48_CHUKWUDI046,16.750000,Normal Fat,0.074174,Soft Drinks,98.46,2004,Small,Cluster 1,Supermarket Type1
12,DRB48,CHUKWUDI049,DRB48_CHUKWUDI049,16.750000,Normal Fat,0.024892,Soft Drinks,94.71,2006,Medium,Cluster 1,Supermarket Type1
13,DRC01,CHUKWUDI017,DRC01_CHUKWUDI017,5.920000,Normal Fat,0.019309,Soft Drinks,122.67,2014,Medium,Cluster 2,Supermarket Type1
14,DRC01,CHUKWUDI018,DRC01_CHUKWUDI018,5.920000,Normal Fat,0.019278,Soft Drinks,120.67,2016,Medium,Cluster 3,Supermarket Type2
15,DRC01,CHUKWUDI027,DRC01_CHUKWUDI027,12.781665,Normal Fat,0.019107,Soft Drinks,121.17,1992,Medium,Cluster 3,Supermarket Type3
16,DRC01,CHUKWUDI045,DRC01_CHUKWUDI045,5.920000,Normal Fat,0.019239,Soft Drinks,124.67,2009,Medium,Cluster 2,Supermarket Type1
17,DRC01,CHUKWUDI046,DRC01_CHUKWUDI046,5.920000,Normal Fat,0.019200,Soft Drinks,119.42,2004,Small,Cluster 1,Supermarket Type1
18,DRC13,CHUKWUDI035,DRC13_CHUKWUDI035,8.260000,Normal Fat,0.032435,Soft Drinks,312.18,2011,Small,Cluster 2,Supermarket Type1
19,DRC13,CHUKWUDI045,DRC13_CHUKWUDI045,8.260000,Normal Fat,0.067888,Soft Drinks,306.43,2009,Medium,Cluster 2,Supermarket Type1

In [41]:
df.describe()

,Product_Weight,Product_Shelf_Visibility,Product_Price,Supermarket_Opening_Year
count,3532.000000,3532.000000,3532.000000,3532.000000
mean,12.781665,0.069493,296.903392,2004.900057
std,4.106463,0.046430,181.897221,8.497250
min,4.555000,0.005210,78.230000,1992.000000
25%,9.395000,0.033150,145.307500,1994.000000
50%,12.781665,0.063858,237.770000,2006.000000
75%,15.750000,0.094049,461.002500,2011.000000
max,21.350000,0.321115,667.220000,2016.000000

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3532 entries, 0 to 3531
Data columns (total 12 columns):
Product_Identifier                3532 non-null object
Supermarket_Identifier            3532 non-null object
Product_Supermarket_Identifier    3532 non-null object
Product_Weight                    3532 non-null float64
Product_Fat_Content               3532 non-null object
Product_Shelf_Visibility          3532 non-null float64
Product_Type                      3532 non-null object
Product_Price                     3532 non-null float64
Supermarket_Opening_Year          3532 non-null int64
Supermarket_Size                  3532 non-null object
Supermarket_Location_Type         3532 non-null object
Supermarket_Type                  3532 non-null object
dtypes: float64(3), int64(1), object(8)
memory usage: 331.2+ KB

In [43]:
print("Original features:\n", list(df.columns), "\n")

Original features:
 ['Product_Identifier', 'Supermarket_Identifier', 'Product_Supermarket_Identifier', 'Product_Weight', 'Product_Fat_Content', 'Product_Shelf_Visibility', 'Product_Type', 'Product_Price', 'Supermarket_Opening_Year', 'Supermarket_Size', 'Supermarket_Location_Type', 'Supermarket_Type']

In [44]:
df_dummies1=pd.get_dummies(df, prefix=['Product_Fat_Content', 'Product_Type','Supermarket_Size', 'Supermarket_Location_Type', 'Supermarket_Type'], columns=['Product_Fat_Content', 'Product_Type','Supermarket_Size', 'Supermarket_Location_Type', 'Supermarket_Type'])

In [45]:
df_dummies1.head(5)

,Product_Identifier,Supermarket_Identifier,Product_Supermarket_Identifier,Product_Weight,Product_Shelf_Visibility,Product_Price,Supermarket_Opening_Year,Product_Fat_Content_Low Fat,Product_Fat_Content_Normal Fat,Product_Fat_Content_Ultra Low fat,...,Supermarket_Size_High,Supermarket_Size_Medium,Supermarket_Size_Small,Supermarket_Location_Type_Cluster 1,Supermarket_Location_Type_Cluster 2,Supermarket_Location_Type_Cluster 3,Supermarket_Type_Grocery Store,Supermarket_Type_Supermarket Type1,Supermarket_Type_Supermarket Type2,Supermarket_Type_Supermarket Type3
0,DRA59,CHUKWUDI010,DRA59_CHUKWUDI010,8.270,0.214125,459.98,2005,0,1,0,...,0,1,0,0,0,1,1,0,0,0
1,DRA59,CHUKWUDI013,DRA59_CHUKWUDI013,8.270,0.127821,464.98,1994,0,1,0,...,1,0,0,0,0,1,0,1,0,0
2,DRB01,CHUKWUDI013,DRB01_CHUKWUDI013,7.390,0.082171,477.38,1994,1,0,0,...,1,0,0,0,0,1,0,1,0,0
3,DRB13,CHUKWUDI010,DRB13_CHUKWUDI010,6.115,0.011791,472.63,2005,0,1,0,...,0,1,0,0,0,1,1,0,0,0
4,DRB13,CHUKWUDI013,DRB13_CHUKWUDI013,6.115,0.007038,473.13,1994,0,1,0,...,1,0,0,0,0,1,0,1,0,0

In [46]:
del df_dummies1['Product_Identifier']

In [47]:
df_dummies=df_dummies1.drop(['Product_Supermarket_Identifier'], axis=1)

In [48]:
df_dummies=df_dummies.drop(['Supermarket_Identifier'], axis=1)

In [49]:
df_dummies.head(5)

,Product_Weight,Product_Shelf_Visibility,Product_Price,Supermarket_Opening_Year,Product_Fat_Content_Low Fat,Product_Fat_Content_Normal Fat,Product_Fat_Content_Ultra Low fat,Product_Type_Baking Goods,Product_Type_Breads,Product_Type_Breakfast,...,Supermarket_Size_High,Supermarket_Size_Medium,Supermarket_Size_Small,Supermarket_Location_Type_Cluster 1,Supermarket_Location_Type_Cluster 2,Supermarket_Location_Type_Cluster 3,Supermarket_Type_Grocery Store,Supermarket_Type_Supermarket Type1,Supermarket_Type_Supermarket Type2,Supermarket_Type_Supermarket Type3
0,8.270,0.214125,459.98,2005,0,1,0,0,0,0,...,0,1,0,0,0,1,1,0,0,0
1,8.270,0.127821,464.98,1994,0,1,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0
2,7.390,0.082171,477.38,1994,1,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0
3,6.115,0.011791,472.63,2005,0,1,0,0,0,0,...,0,1,0,0,0,1,1,0,0,0
4,6.115,0.007038,473.13,1994,0,1,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0

In [50]:
df_dummies.shape

(3532, 33)

In [51]:
df_dummies.isnull().values.any()

False

In [54]:
predicted_sales=gbr.predict(df_dummies)
print(predicted_sales)

[ 979.70018242 7526.76715946 7662.8470835  ... 9175.21573822 1231.25415037
 7641.05796806]

In [55]:
my_submission=pd.DataFrame({'Product_Supermarket_Identifier':df.Product_Supermarket_Identifier,'Product_Supermarket_Sales': predicted_sales})
my_submission.to_csv('ToyeEntry.csv', index=False)